@font-face {
  font-family: 'Xbox Logo New';
  src: url('../fonts/XboxLogoNew-Regular.eot');
  src: url('../fonts/XboxLogoNew-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/XboxLogoNew-Regular.woff2') format('woff2'), url('../fonts/XboxLogoNew-Regular.woff') format('woff'), url('../fonts/XboxLogoNew-Regular.ttf') format('truetype'), url('../fonts/XboxLogoNew-Regular.svg#XboxLogoNew-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ropa Sans SC PTT';
  src: url('../fonts/RopaSansSCPTT-Regular.eot');
  src: url('../fonts/RopaSansSCPTT-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RopaSansSCPTT-Regular.woff2') format('woff2'), url('../fonts/RopaSansSCPTT-Regular.woff') format('woff'), url('../fonts/RopaSansSCPTT-Regular.ttf') format('truetype'), url('../fonts/RopaSansSCPTT-Regular.svg#RopaSansSCPTT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Sans Thin Caps';
  src: url('../fonts/UniSansThinCaps.eot');
  src: url('../fonts/UniSansThinCaps.eot?#iefix') format('embedded-opentype'), url('../fonts/UniSansThinCaps.woff2') format('woff2'), url('../fonts/UniSansThinCaps.woff') format('woff'), url('../fonts/UniSansThinCaps.ttf') format('truetype'), url('../fonts/UniSansThinCaps.svg#UniSansThinCaps') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Sans Heavy Caps';
  src: url('../fonts/UniSansHeavyCaps.eot');
  src: url('../fonts/UniSansHeavyCaps.eot?#iefix') format('embedded-opentype'), url('../fonts/UniSansHeavyCaps.woff2') format('woff2'), url('../fonts/UniSansHeavyCaps.woff') format('woff'), url('../fonts/UniSansHeavyCaps.ttf') format('truetype'), url('../fonts/UniSansHeavyCaps.svg#UniSansHeavyCaps') format('svg');
  font-weight: 900;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
a:active,
a:hover,
a {
  text-decoration: none !important;
  color: #fff !important;
}
.black {
  height: 100vh;
  background: #171717;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  opacity: 1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buy {
  position: relative;
  opacity: 1;
}
.buy form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buy form input {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background: #171717;
  border: 1px solid #fff;
}
.buy_title {
  margin: auto 0;
  margin-bottom: 50px;
  font-family: 'Xbox Logo New';
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.buy_button {
  width: 50% !important;
  margin-top: 40px !important;
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%) !important;
  height: 70px !important;
  font-size: 2.2rem;
  border-radius: 20px;
  border: none !important;
  color: #171717;
  font-family: 'Uni Sans Heavy Caps';
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.buy_button:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.close {
  position: absolute;
  top: -10%;
  right: -40%;
}
.input_title {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ropa Sans SC PTT';
  margin-top: 20px;
}
.main {
  height: 100vh;
  background: url('../images/Main.png') no-repeat;
  background-size: cover;
  padding-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.main_title {
  font-family: 'Xbox Logo New';
  color: #fff;
  font-size: 3rem;
  margin-bottom: 50px;
}
.main_card {
  height: 200px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.main_card:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.main_card img {
  position: absolute;
  right: 0%;
  top: 0%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.main_card_title {
  font-size: 2.5rem;
  color: #ffb732;
  margin-top: -5px;
}
.main_card_subtitle {
  font-size: 2rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
.main_card_sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  padding: 0 10px;
  border-radius: 10px;
}
.main_card_sale_info {
  font-family: 'Uni Sans Heavy Caps';
}
.main_card_sale_info:first-child {
  font-size: 0.8rem;
  margin-bottom: 6px;
  margin-right: 5px;
}
.main_card_sale_info:nth-child(2) {
  font-size: 2rem;
}
.logo {
  height: 80px;
}
.phone {
  color: #fff;
  font-family: 'Uni Sans Thin Caps';
  font-size: 1.8rem;
}
.form {
  background: #1c1d1e;
  height: 100%;
  border-radius: 30px;
  font-family: 'Ropa Sans SC PTT';
  padding: 10% 10%;
  position: relative;
}
.form_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
}
.form_title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  width: 75%;
  line-height: 1;
}
.form_submit {
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  font-family: 'Uni Sans Heavy Caps';
  font-size: 2rem;
  color: #1c1d1e;
  border: 0;
  height: 17%;
}
.form_submit:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}
input {
  height: 15%;
  width: 70%;
  border-radius: 10px;
  border: 2px solid #fff;
  background: #000;
  padding: 0 5%;
  color: #fff;
}
input:focus {
  outline: none;
}
.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%, 0px);
          transform: translateX(-50%, 0px);
  -webkit-transition: all 3s;
  transition: all 3s;
}
.icon {
  height: 5vw;
  position: absolute;
  right: 0%;
  top: 0%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  min-height: 50px;
}
.about {
  height: auto;
  background: #1e1e1e;
  padding: 6vw 0;
  color: #fff;
}
.about_title {
  font-size: 5rem;
  font-family: 'Xbox Logo New';
  margin-bottom: 40px;
}
.about_img {
  margin-bottom: 40px;
}
.about_text {
  font-size: 2.3rem;
  line-height: 1.2;
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.slider_img {
  width: 100%;
  position: relative;
}
.slider_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  bottom: 0;
}
.slide {
  position: absolute;
  height: 350px;
  width: 100%;
  right: 0%;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.slide_active {
  opacity: 1;
}
.button_nav {
  height: 18px;
  width: 18px;
  border-radius: 10px;
  background: #fff;
  margin: 0 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.button_nav_active {
  background: #FFB720;
}
.cost {
  height: auto;
  background: #1E1E1E;
  padding: 4vw 0;
}
.cost_title {
  font-size: 4.5rem;
  font-family: 'Xbox Logo New';
  color: #fff;
}
.cost_img {
  height: 100%;
}
.cost_block {
  background: #3B3B3B;
  width: 100%;
  height: 460px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.cost_block:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}
.cost_block_title {
  font-size: 3.8rem;
  text-align: center;
  font-family: 'Ropa Sans SC PTT';
  line-height: 1;
  color: #ffb732;
}
.cost_block_add {
  color: #fff;
  font-family: 'Ropa Sans SC PTT';
  font-size: 2.5rem;
  text-align: center;
  width: 120%;
}
.cost_block_cost {
  width: 60%;
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  height: 30%;
  margin-top: 5%;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cost_info {
  margin-top: 50px;
}
.cost_big {
  font-family: 'Uni Sans Heavy Caps';
  font-size: 4.2rem;
  color: #3B3B3B;
}
.cost_small {
  font-size: 2.1rem;
}
.sales {
  background: #1E1E1E;
  padding: 70px 0;
}
.sales_title {
  font-size: 5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Xbox Logo New';
  margin-bottom: 40px;
}
.sales_title img {
  margin-right: 25px;
}
.sales_icon {
  height: 10vw;
  min-height: 65px;
}
.sales_block {
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  height: 100%;
  width: 100%;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.sales_block:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}
.sales_block_title {
  font-family: 'Ropa Sans SC PTT';
  font-size: 3.7rem;
  text-align: center;
  line-height: 1;
  color: #3e3e3e;
  margin: 10% 0;
}
.sales_block_sale {
  border-radius: 18px;
  background: #3B3B3B;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.sales_block_sale span {
  color: #fff;
}
.sales_block_add {
  color: #3e3e3e;
  font-family: 'Ropa Sans SC PTT';
  font-size: 2.4rem;
  line-height: 1;
}
.smile {
  background: url('../images/smile_1.png') #000000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1100px;
  padding: 200px 0;
  color: #fff;
  text-align: center;
  overflow-y: hidden;
}
.smile_title {
  font-size: 4rem;
  font-family: 'Xbox Logo New';
  line-height: 1;
}
.smile_text {
  font-size: 2rem;
  font-family: 'Ropa Sans SC PTT';
  line-height: 1.2;
  margin: 80px 0;
}
.smile .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.smile_button {
  background: #36393A;
  height: 200px;
  border-radius: 30px;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 3rem;
  font-family: 'Ropa Sans SC PTT';
  line-height: 1.2;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  position: relative;
}
.smile_button:focus {
  outline: none;
}
.smile_button:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.comments {
  background: #1E1E1E;
  padding: 5% 0;
}
.comments_title {
  font-size: 5rem;
  color: #fff;
  font-family: 'Xbox Logo New';
}
.comments_more {
  height: 80px;
  border-radius: 20px;
  background: #3B3B3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.comments_more:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.comments_more_icon {
  height: 50%;
  margin: 0 10%;
}
.comments_more_title {
  color: #fff;
  font-size: 2rem;
  font-family: 'Ropa Sans SC PTT';
}
.comment {
  margin: 3% 0;
  font-family: 'Ropa Sans SC PTT';
}
.comment_header {
  height: 65%;
  background: #3B3B3B;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 5%;
  font-size: 2rem;
  color: #fff;
}
.comment_footer {
  height: 35%;
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 2rem;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comment_name {
  font-size: 2rem;
  text-decoration: underline;
}
.comment_img {
  margin-right: 25px;
  height: 70%;
}
.comment_author {
  line-height: 1;
}
#smile_2 {
  background-image: url('../images/smile_2.png');
  padding-top: 200px;
}
#smile_title_1 {
  margin-top: 100px;
}
.galery {
  height: auto;
  background: #1E1E1E;
  padding: 70px 0;
}
.galery_title {
  margin-bottom: 5%;
  color: #fff;
  font-size: 3rem;
}
.galery_title span {
  margin-bottom: 7px;
}
.galery_slider {
  position: relative;
  height: 650px;
  width: 95vw;
}
.galery_slide {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.galery_slide_active {
  opacity: 1;
}
.galery_slide_left {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  height: 15%;
  min-height: 40px;
}
.galery_slide_right {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  height: 15%;
  min-height: 40px;
}
.license {
  background: #1E1E1E;
  padding: 10% 0;
}
.license_title {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 50px;
}
.license_title img {
  height: 100%;
}
.license_img img {
  border: 3px solid #fff;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 2200px) {
  .smile {
    height: 1350px;
    padding-top: 400px;
  }
}
@media (max-width: 1570px) {
  .smile_text {
    margin: 40px 0;
  }
  .smile_title {
    margin-top: -50px;
  }
}
@media (max-width: 1300px) {
  .smile {
    background: url('../images/допы/1300-(1).png');
    background-size: 100% 100%;
    height: 1000px;
  }
  #smile_2 {
    background-image: url('../images/допы/1300-(2).png');
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .main_card {
    height: 150px;
  }
  .main_title {
    line-height: 1.3;
  }
  .main_left {
    margin-top: -10%;
  }
  .main_right {
    margin-top: -10%;
  }
  .smile_title {
    margin-top: 15%;
  }
  .galery_slider {
    height: 50vw;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 11px;
  }
  .cost_block {
    height: 300px;
  }
  .slide {
    height: auto;
  }
  .slider {
    height: 55vw;
    margin-top: 40px;
  }
  .slider_nav {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  input {
    font-size: 1.5rem !important;
  }
  .smile {
    height: 900px;
  }
  .smile_title {
    margin-top: -50px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .main_title {
    font-size: 2.7rem;
  }
  .cost_big {
    font-size: 3.5rem;
  }
  .cost_small {
    font-size: 1.8rem;
  }
  .main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding-bottom: 50px;
  }
  .main_title {
    text-align: center;
  }
  .main_card {
    width: 65%;
    height: auto;
    padding: 3% 0;
    margin-bottom: 40px;
  }
  .main_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_left {
    margin-top: 0%;
  }
  .main_right {
    margin-top: 0%;
  }
  .header {
    margin-bottom: 40px;
  }
  .test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form {
    height: 250px;
    padding: 20px 0;
  }
  #arrow_img {
    display: none;
  }
  .cost_title {
    font-size: 3rem;
  }
  .cost_block {
    height: auto;
    padding-bottom: 40px;
  }
  .slider {
    height: 70vw;
    margin-top: 50px;
  }
  .smile {
    background: url('../images/допы/576-(1).png') #1e1e1e;
    background-repeat: no-repeat;
    background-size: 140% 75%;
    background-position: center center;
    height: 700px;
  }
  .smile_title {
    font-size: 3.4rem;
    margin-top: -50px;
  }
  .smile_text {
    font-size: 1.8rem;
  }
  .smile_button {
    height: 150px;
  }
  #smile_2 {
    background: url('../images/допы/576-(2).png') #1e1e1e;
    background-repeat: no-repeat;
    background-size: 140% 75%;
    background-position: center center;
  }
  #smile_title_1 {
    margin-top: 0;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 9px;
  }
  .cost_block {
    margin: 20px 0;
    width: 80%;
  }
  .about_title {
    white-space: nowrap;
  }
  .icon {
    min-height: 50px;
  }
  .sales_block {
    margin-bottom: 50px;
    height: auto;
    padding: 5% 0;
  }
  .hr {
    height: 20px;
    width: 100vw;
  }
  .hr_1 {
    height: 10px;
    width: 100vw;
  }
  .sales_title {
    font-size: 4rem;
  }
  .smile {
    height: 600px;
  }
  .smile_button {
    height: 80px;
    font-size: 2.5rem;
  }
  .smile_title {
    margin-top: -40px;
    font-size: 2.8rem;
  }
  .smile_text {
    margin: 20px 0;
  }
  .comments_title {
    font-size: 4rem;
  }
  .galery_slide {
    width: 92%;
  }
  .galery_slide_right {
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 7px;
  }
  input {
    font-size: 2rem !important;
  }
  .about_title {
    font-size: 4.4rem;
    white-space: nowrap;
  }
  .icon {
    min-height: 40px;
  }
  .cost_title {
    font-size: 2.8rem;
    white-space: nowrap;
  }
  .smile {
    height: 450px;
  }
  .smile_title {
    margin-top: -100px;
    margin-bottom: 20px;
  }
  .smile_text {
    margin-top: -50px;
  }
  .smile_button {
    font-size: 2rem;
  }
  .comments_title {
    font-size: 3.5rem;
  }
}
