@font-face {
  font-family: 'Xbox Logo New';
  src: url('../fonts/XboxLogoNew-Regular.eot');
  src: url('../fonts/XboxLogoNew-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/XboxLogoNew-Regular.woff2') format('woff2'), url('../fonts/XboxLogoNew-Regular.woff') format('woff'), url('../fonts/XboxLogoNew-Regular.ttf') format('truetype'), url('../fonts/XboxLogoNew-Regular.svg#XboxLogoNew-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ropa Sans SC PTT';
  src: url('../fonts/RopaSansSCPTT-Regular.eot');
  src: url('../fonts/RopaSansSCPTT-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RopaSansSCPTT-Regular.woff2') format('woff2'), url('../fonts/RopaSansSCPTT-Regular.woff') format('woff'), url('../fonts/RopaSansSCPTT-Regular.ttf') format('truetype'), url('../fonts/RopaSansSCPTT-Regular.svg#RopaSansSCPTT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Sans Thin Caps';
  src: url('../fonts/UniSansThinCaps.eot');
  src: url('../fonts/UniSansThinCaps.eot?#iefix') format('embedded-opentype'), url('../fonts/UniSansThinCaps.woff2') format('woff2'), url('../fonts/UniSansThinCaps.woff') format('woff'), url('../fonts/UniSansThinCaps.ttf') format('truetype'), url('../fonts/UniSansThinCaps.svg#UniSansThinCaps') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Sans Heavy Caps';
  src: url('../fonts/UniSansHeavyCaps.eot');
  src: url('../fonts/UniSansHeavyCaps.eot?#iefix') format('embedded-opentype'), url('../fonts/UniSansHeavyCaps.woff2') format('woff2'), url('../fonts/UniSansHeavyCaps.woff') format('woff'), url('../fonts/UniSansHeavyCaps.ttf') format('truetype'), url('../fonts/UniSansHeavyCaps.svg#UniSansHeavyCaps') format('svg');
  font-weight: 900;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
a:active,
a:hover,
a {
  text-decoration: none !important;
  color: #fff !important;
}
.main {
  height: 100vh;
  background: url('../images/Main.png') no-repeat;
  background-size: cover;
  padding-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_title {
  font-family: 'Xbox Logo New';
  color: #fff;
  font-size: 3rem;
  margin-bottom: 50px;
}
.main_card {
  height: 200px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.main_card:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.main_card img {
  position: absolute;
  right: 0%;
  top: 0%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.main_card_title {
  font-size: 2.5rem;
  color: #ffb732;
}
.main_card_subtitle {
  font-size: 2rem;
}
.main_card_sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  padding: 0 10px;
  border-radius: 10px;
}
.main_card_sale_info {
  font-family: 'Uni Sans Heavy Caps';
}
.main_card_sale_info:first-child {
  font-size: 0.8rem;
  margin-bottom: 6px;
  margin-right: 5px;
}
.main_card_sale_info:nth-child(2) {
  font-size: 2rem;
}
.logo {
  height: 80px;
}
.phone {
  color: #fff;
  font-family: 'Uni Sans Thin Caps';
  font-size: 1.8rem;
}
.form {
  background: #1c1d1e;
  height: 100%;
  border-radius: 30px;
  font-family: 'Ropa Sans SC PTT';
  padding: 10% 10%;
  position: relative;
}
.form_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
}
.form_title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  width: 75%;
  line-height: 1;
}
.form_submit {
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  font-family: 'Uni Sans Heavy Caps';
  font-size: 2rem;
  color: #1c1d1e;
  border: 0;
  height: 17%;
}
.form_submit:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}
input {
  height: 15%;
  width: 70%;
  border-radius: 10px;
  border: 2px solid #fff;
  background: #000;
  padding: 0 5%;
  color: #fff;
}
input:focus {
  outline: none;
}
.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%, 0px);
          transform: translateX(-50%, 0px);
  -webkit-transition: all 3s;
  transition: all 3s;
}
.icon {
  height: 5vw;
  position: absolute;
  right: 0%;
  top: 0%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  min-height: 50px;
}
.about {
  height: auto;
  background: #1e1e1e;
  padding: 6vw 0;
  color: #fff;
}
.about_title {
  font-size: 5rem;
  font-family: 'Xbox Logo New';
  margin-bottom: 40px;
}
.about_img {
  margin-bottom: 40px;
}
.about_text {
  font-size: 2.3rem;
  line-height: 1.2;
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.slider_img {
  width: 100%;
  position: relative;
}
.slider_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  bottom: 0;
}
.slide {
  position: absolute;
  height: 350px;
  width: 100%;
  right: 0%;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.slide_active {
  opacity: 1;
}
.button_nav {
  height: 18px;
  width: 18px;
  border-radius: 10px;
  background: #fff;
  margin: 0 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.button_nav_active {
  background: #FFB720;
}
.cost {
  height: auto;
  background: #1E1E1E;
  padding: 4vw 0;
}
.cost_title {
  font-size: 4.5rem;
  font-family: 'Xbox Logo New';
  color: #fff;
}
.cost_img {
  height: 100%;
}
.cost_block {
  background: #3B3B3B;
  width: 100%;
  height: 460px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10%;
}
.cost_block_title {
  font-size: 3.8rem;
  text-align: center;
  font-family: 'Ropa Sans SC PTT';
  line-height: 1;
  color: #ffb732;
}
.cost_block_add {
  color: #fff;
  font-family: 'Ropa Sans SC PTT';
  font-size: 2.5rem;
  text-align: center;
  width: 120%;
}
.cost_block_cost {
  width: 60%;
  background: linear-gradient(45deg, #ffe324 0%, #ffb533 100%);
  height: 30%;
  margin-top: 5%;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cost_info {
  margin-top: 50px;
}
.cost_big {
  font-family: 'Uni Sans Heavy Caps';
  font-size: 4.2rem;
  color: #3B3B3B;
}
.cost_small {
  font-size: 2.1rem;
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .main_card {
    height: 150px;
  }
  .main_title {
    line-height: 1.3;
  }
  .main_left {
    margin-top: -10%;
  }
  .main_right {
    margin-top: -10%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 11px;
  }
  .cost_block {
    height: 300px;
  }
  .slide {
    height: auto;
  }
  .slider {
    height: 55vw;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .main_title {
    font-size: 2.7rem;
  }
  .cost_big {
    font-size: 3.5rem;
  }
  .cost_small {
    font-size: 1.8rem;
  }
  .main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding-bottom: 50px;
  }
  .main_title {
    text-align: center;
  }
  .main_card {
    width: 65%;
    height: auto;
    padding: 3% 0;
    margin-bottom: 40px;
  }
  .main_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_left {
    margin-top: 0%;
  }
  .main_right {
    margin-top: 0%;
  }
  .header {
    margin-bottom: 40px;
  }
  .test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form {
    height: 250px;
    padding: 20px 0;
  }
  #arrow_img {
    display: none;
  }
  .cost_title {
    font-size: 3rem;
  }
  .cost_block {
    height: auto;
    padding-bottom: 40px;
  }
  .slider {
    height: 70vw;
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .cost_block {
    margin: 20px 0;
    width: 80%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
}
