@font-face {
    font-family: '18VAG Rounded M';
    src: url('18VAGRoundedMNormal.eot');
    src: url('18VAGRoundedMNormal.eot?#iefix') format('embedded-opentype'),
        url('18VAGRoundedMNormal.woff2') format('woff2'),
        url('18VAGRoundedMNormal.woff') format('woff'),
        url('18VAGRoundedMNormal.ttf') format('truetype'),
        url('18VAGRoundedMNormal.svg#18VAGRoundedMNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

