@font-face {
    font-family: 'HebarExtraLight';
    src: url('HebarExtraLightNormal.eot');
    src: url('HebarExtraLightNormal.eot?#iefix') format('embedded-opentype'),
        url('HebarExtraLightNormal.woff2') format('woff2'),
        url('HebarExtraLightNormal.woff') format('woff'),
        url('HebarExtraLightNormal.ttf') format('truetype'),
        url('HebarExtraLightNormal.svg#HebarExtraLightNormal') format('svg');
    font-weight: 200;
    font-style: normal;
}

