/*=============================================================*/

$wrap-width: 940px; // ширина контента

$wrap-padding: 20px 0; // внутренние отступы контента
$section-padding: 60px 0; // внутренние отступы секции

$font-size: 3; // коэффициент размера шрифта для заголовков h

$btn-color: #00bff3; // цвет кнопки
$btn-color-hover: #00bff3; // цвет кнопки

/*=============================================================*/