@font-face {
    font-family: 'Noteworthy';
    src: url('Noteworthy-Bold.eot');
    src: url('Noteworthy-Bold.eot?#iefix') format('embedded-opentype'),
        url('Noteworthy-Bold.woff2') format('woff2'),
        url('Noteworthy-Bold.woff') format('woff'),
        url('Noteworthy-Bold.ttf') format('truetype'),
        url('Noteworthy-Bold.svg#Noteworthy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

