/*Попап*/
#popup{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #ffffff;
  z-index: 1000000000000;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
  font-size: 2rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
}
.popup_active{
  visibility: visible !important;
  opacity: 1 !important;
}
.popup__title{
  font-size: 2.5rem;
  letter-spacing: 0.219rem;
  font-weight: 900;
}
.popup__input__name{
  font-size: 1.25rem;
  font-weight: 600;
}
.popup__form{
  margin-top: 3.5rem;
}
.popup__input{
  width: 17.125rem;
  height: 3.813rem;
  margin-top: 15px;
  border-radius: 0.625rem;
  border: 2px solid #b9b9b9;
  padding-left: 15px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #b9b9b9;
  margin-bottom: 2.5rem;
  transition: all .4s;
}
.popup__input:focus{
  outline: none;
}
.form__text{
  font-size: 1rem;
  margin-top: 25px;
  font-weight: 600;
}
.text_blue{
  color: #8ecfcd;
  font-size: 0.875rem;
  font-weight: 400;
}

#close{
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.input_error{
  border: 2px solid #F40A13FF;
}
@media (max-width: 425px) {
  #close{
    right: 15px;
    top: 15px;
  }
}
