@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff'),
        url('../fonts/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin_1.eot');
    src: url('../fonts/Montserrat-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin_1.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin_1.woff') format('woff'),
        url('../fonts/Montserrat-Thin_1.ttf') format('truetype'),
        url('../fonts/Montserrat-Thin_1.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black_1.eot');
    src: url('../fonts/Montserrat-Black_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Black_1.woff2') format('woff2'),
        url('../fonts/Montserrat-Black_1.woff') format('woff'),
        url('../fonts/Montserrat-Black_1.ttf') format('truetype'),
        url('../fonts/Montserrat-Black_1.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold_1.eot');
    src: url('../fonts/Montserrat-SemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold_1.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold_1.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold_1.ttf') format('truetype'),
        url('../fonts/Montserrat-SemiBold_1.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular_1.eot');
    src: url('../fonts/Montserrat-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular_1.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular_1.woff') format('woff'),
        url('../fonts/Montserrat-Regular_1.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular_1.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold_1.eot');
    src: url('../fonts/Montserrat-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold_1.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold_1.woff') format('woff'),
        url('../fonts/Montserrat-Bold_1.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold_1.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight_1.eot');
    src: url('../fonts/Montserrat-ExtraLight_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLight_1.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight_1.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLight_1.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraLight_1.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold_1.eot');
    src: url('../fonts/Montserrat-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold_1.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold_1.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold_1.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraBold_1.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light_1.eot');
    src: url('../fonts/Montserrat-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light_1.woff2') format('woff2'),
        url('../fonts/Montserrat-Light_1.woff') format('woff'),
        url('../fonts/Montserrat-Light_1.ttf') format('truetype'),
        url('../fonts/Montserrat-Light_1.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium_1.eot');
    src: url('../fonts/Montserrat-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium_1.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium_1.woff') format('woff'),
        url('../fonts/Montserrat-Medium_1.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium_1.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



html{
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', monospace;
  overflow-x: hidden !important;
}
* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: none;
    margin: 0 30px;    
  }
}

.header {
  width: 100%;
}
.header__wrap {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__burger {
  margin-left: 50px;
  cursor: pointer;
  position: relative;
}
.header__burger img {
  position: relative;
  z-index: 1001;
}
.burger_menu{
  width: 180px;
  background: #fff;
  position: absolute;
  left: 10.5px;
  top: -20px;
  transform: translateX(-50%);
  border-radius: 0.7rem;
  z-index: 1000;
  box-shadow: 0px 3px 4.95px 0.05px rgba(0, 0, 1, 0.08);
  padding-top: 0px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 0;
  transition: all .7s;
}
.burger_active{
  max-height: 700px;
  padding-top: 70px;
  padding-bottom: 45px;
}
.burger__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger__link{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F4F4F4;
  width: 100%;
  text-align: center;
  color: #353535;
  opacity: 0;
  transition: opacity .4s, padding .8s, margin .8s, max-height .3s, transform .6s;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  max-height: 1000px;
}
.burger__link:last-child{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.burger__link_noactive{
  opacity: 0 !important;
  max-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  transform: scale(0);
}
.burger__link[data-border="hide"] {
  border: none;
}

.burger__menu__second{
  width: 100%;  
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height .6s, padding .8s, margin .8s;
}
.burger__menu__second a{
  color: #C2C2C2;
  font-weight: 400;
  transition: padding .8s, margin .8s;
}
.burger__menu__second_active{
  max-height: 1000px;
  margin-top: 30px;
}
.burger__menu__second_active a{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F3F3F3;
}


.burger_active .burger__link{
  opacity: 1;
}

#grey_window{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.1);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.grey_active{
  opacity: 1 !important;
  visibility: visible !important;
}

.header__info{
  display: flex;
  align-items: center;
}
.header__more {
  border-radius: 0.7rem;
  max-height: 40px;
  box-shadow: 0px 3px 4.95px 0.05px rgba(0, 0, 1, 0.08);
  padding: 10px 12px;
  background: #fff;
  display: flex;
}
.header__icon{
  padding: 0 15px;
  border-right: 1px solid #C5E0DF;
  cursor: pointer;
}
.header__icon:last-child{
  padding-right: 0;
  border: none;
}
.header__icon:first-child{
  padding-left: 0;
}
.header__contacts {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__contacts__phone {
  font-weight: 600;
  font-size: 1.6rem;
}
.header__contacts__more {
  font-size: 0.85rem;
  color: #008987;
  display: flex;
  align-items: center;
}
.header__contacts__more span{
  border-bottom: 1px dashed #008987;
  white-space: nowrap;
}
.header__contacts__more img{
  position: relative;
  bottom: -2px;
  margin-right: 4px;
}
.main {
  margin-top: 50px;
}
.main__wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main__left {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: 50px;
}
.main__left__decor {
  margin-right: 20px;
  margin-left: -20px;
}
.main__left__block {

}
.main__left__text_big {
  font-size: 5.625rem;
  font-weight: 900;
  letter-spacing: 20px;
}
.main__left__text_med {
  font-size: 1.875rem;
  font-weight: 600;
}
.main__left__text_small {
  font-weight: 400;
  margin-top: 45px;
  line-height: 1.5;
  color: #8B8B8B;
}
.main__left__button {
  height: 80px;
  width: 360px;
  background-image: -moz-linear-gradient( 122deg, #1BB6B4 0%, #5CC9C8 100%);
  background-image: -webkit-linear-gradient( 122deg, #1BB6B4 0%, #5CC9C8 100%);
  background-image: -ms-linear-gradient( 122deg, #1BB6B4 0%, #5CC9C8 100%);
  border-radius: 0.95rem;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  box-shadow: 0px 10px 13px 0px #AEE1E0;
  cursor: pointer;
  transition: transform .3s;
}
.main__left__button:hover{
  transform: scale(1.1);

}
.main__right {}
.main__right__block {}
.main__right__img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 100%;
}
.main__right__decor {
  position: relative;
  right: -30px;
  top: -150px;
}
#phone{
  width: 550px;
  height: 550px;
  background: url('../img/circle.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phone img{
  width: 75%;
  position: relative;
  transition: all .1s;
  z-index: 10;
}


@media (max-width: 1440px){
  #phone{
    width: 450px;
    height: 450px;
  }
  html{
    font-size: 14px;
  }
  .main__right__decor{
    right: -50px;
  }
}
@media (max-width: 1170px){
  #phone{
    width: 350px;
    height: 350px;
  }
  .main__right__decor{
    right: -20px;
    top: -100px;
  }
  .main__right__decor img{
    width: 80px;
  }
  html{
    font-size: 13px;
  }
  .main__left__button{
    height: 70px;
    width: 310px;
  }
  .main__left__text_big{
    font-size: 5rem;
  }

}
@media (max-width: 992px){
  .main__left__decor img{
    width: 80px;
  }
}
@media (max-width: 768px){
  #phone{
    width: 320px;
    height: 320px;
  }
  .main__left__text_big{
    font-size: 4rem;
    letter-spacing: 10px;
  }
  .main__left__button {
    height: 60px;
    width: 270px;
  }
  .main__right__decor{
    right: -25px;
    top: -100px;
  }
}
@media (max-width: 500px) {
  .mob__hide{
    display: none;
  }
  #phone{
    width: 200px;
    height: 200px;
  }
  html{
    font-size: 10px;
  }
  .main__left__button {
    height: 50px;
    width: 230px;
    margin-top: 30px;
    margin-right: 0;
  }
  .main__wrap{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main__left__block{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__left__text_big{
    letter-spacing: 10px;
    position: relative;
    right: -10px;
  }
  .main__left__text_small{
    margin-top: 20px;
  }
  .main__right{
    margin-top: 80px;
  }
  .main__right__decor{
    right: -20px;
    top: -80px;
  }
  .main__right__decor img{
    width: 50px;
  }
  #logo{
    width: 80px;
  }
  .main{
    margin-top: 0;
  }
  .header__burger{
    margin-left: 20px;
  }
}



.advantages {
  margin-top: -80px;
}
.advantages__wrap {
  
}
.advantages__row{
  display: flex;
  width: 100%;
  margin: 0 -20px;
}
.advantages__column{
  padding: 0 20px;
  display: flex;
  flex: 0 1 30%;
}
.advantages__item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.advantages__item__img {
  margin-right: 15px;
}
.advantages__item__text {
  display: flex;
  flex-direction: column;
}
.advantages__title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #6F6F6F;
  margin-bottom: 7px;
  margin-top: -7px;
}
.advantages__subtitle {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 1024px) {
  .advantages{
    margin-top: -20px;
  }
}
@media (max-width: 920px) {
  .advantages__column{
    flex: 0 1 50%;
  }
}
@media (max-width: 425px) {
  .advantages__column{
    flex: 0 1 100%;
    margin: 15px 0;
  }
  .advantages__row{
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .advantages__item{
    display: flex;
    justify-content: center;
  }
}



.devices {
  background: #58C8C7;
  margin-top: 150px;
  padding-bottom: 140px;
}
.devices__border{
  transform: translateY(-45%);
  padding:0 2%;
  overflow-x: hidden !important;
}
.devices__border img{
  width: 100%;
}
.devices__wrap {}
.devices__head {
  margin-top: 120px;
  color: #FBFBFB;
  display: flex;
  justify-content: space-between;
}
.devices__head__text {}
.devices__head__title {
  font-size: 4.5rem;
  font-weight: 600;
  border-top: 15px solid #FFD94E;
  border-left: 15px solid #FFD94E;
  border-radius: 1rem;
  position: relative;
  padding-left: 13px;
  white-space: nowrap;
}
.devices__head__title span{
  position: relative;
  z-index: 10;
}
.device__border__top {
  width: calc(100% - 50px);
  height: 25px;
  background: #58C8C7;
  position: absolute;
  left: 50px;
  top: 0;
  transform: translateY(-80%);
}
.device__border__left {
  width: 40px;
  height: 80px;
  background: #58C8C7;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%);

}
.devices__head__subtitle {
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  z-index: 10;
}
.devices__head__decor {}
.devices__body {
  margin-top: 120px;
  padding-left: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.devices__item {
  margin-bottom: 100px;
  margin-right: 42px;
  min-width: 200px;
  cursor: pointer;
}
.device__item__head{
  display: flex;
  align-items: flex-end;
  min-height: 260px;
  position: relative;

}
.devices__item:last-child {
  margin-right: 0px;
}
.devices__item:hover .deviced__item__square{
  transform: scale(1.1);
  background: #FFD94E;
}
.devices__item:hover .device__item__img{
  transform: translateY(-20px);
  filter: grayscale(0);
}
.deviced__item__square{
  width: 130px;
  height: 130px;
  border-radius: 1rem;
  background: #EAEAEA;
  position: absolute;
  right: 0;
  bottom: -20px;
  transition: all .3s;
}
.device__item__img{
  filter: grayscale(1);
  position: relative;
  top: 0;
  z-index: 10;
  transition: all .3s;
}
.device__img__wrap{
  position: relative;
}
.device__item__name{
  text-align: center;
  margin-top: 40px;
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .devices__head__decor img{
    width: 160px;
  }
  .devices__head__title{
    font-size: 3.5rem;
  }
  .devices__head__subtitle{
    font-size: 2rem;
  }
  .device__border__left{
    height: 40px;
  }
}
@media (max-width: 425px) {
  .devices__head__decor img{
    margin-top: 40px;
  }
  .devices__head{
    flex-direction: column;
    align-items: center;
  }
  .devices__body{
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .devices__item{
    margin-right: 0;
  }
  .device__item__name{
    font-size: 2rem;
  }
  .devices__head__title{
    font-size: 3rem;
    border-width: 15px;
  }
  .devices__head__subtitle{
    font-size: 1.7rem;
  }
  .device__border__left{
    height: 20px;
  }
  .devices__border{
    display: none;
  }
  .devices{
    padding-top: 10px;
  }
}





.panelInfo{
  height: 85px;
  color: #7E7E7E;
  background: #F6F6F6;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}
.panelInfo__wrap{
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.9rem;
}
.repair{
  height: 400px;
}

