@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.eot');
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Black.woff2') format('woff2'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype'), url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.eot');
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
button:focus {
  outline: none;
}
button {
  cursor: pointer;
  transition: .3s transform;
}
button:hover {
  transform: scale(1.1);
}
a,
a:hover {
  text-decoration: none;
}
.phone {
  font-size: 2rem;
  color: #505050;
  font-weight: 600;
  transition: .2s color;
}
.phone:hover {
  color: #38CBC3;
}
html {
  overflow-x: hidden !important;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden !important;
  width: 100vw;
  font-family: 'Montserrat';
}
.container {
  padding-left: 15%;
  padding-right: 15%;
}
.title {
  font-size: 4rem;
  color: #4F4F4F;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
  text-align: center;
  width: 100%;
}
.title_light {
  background: #B2F2EE;
  margin-right: -2%;
  padding: 0 2%;
  border-radius: 1rem;
}
.title_light_white {
  background: #fff;
  margin-right: -2%;
  padding: 0 1%;
  border-radius: 1rem;
}
.subtitle {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4;
  margin: 1.2rem 0;
  text-align: center;
}
.lamp {
  width: 50%;
}
.main {
  background: url('../images/mainBG.png');
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_content img {
  margin-left: -7vw;
}
.main_content_info {
  text-align: right !important;
  width: 50%;
}
.main_content_info .title,
.main_content_info .subtitle {
  text-align: right;
}
.main_button {
  width: 25rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0);
  border: 0.25rem solid #4F4F4F;
  border-radius: 1.2rem;
  margin-top: 30px;
  color: #4F4F4F;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 8rem;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
.slider .subtitle {
  color: #505050;
  font-weight: 300;
  margin-top: 60px;
}
.slider_block {
  display: flex;
  width: 100vw;
  height: 35vw;
  margin: 50px 0;
  position: relative;
  min-height: 160px;
}
.slider_nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.slider_nav_button {
  margin: 0 20px;
  width: 5%;
  min-width: 48px;
  height: 10px;
  border-radius: 5px;
  background: #E3E3E3;
  transition: background .3s;
}
.slider_nav_button:hover {
  cursor: pointer;
}
.slider_nav_button_active {
  background: #4F4F4F !important;
}
.play {
  width: 6rem;
  margin: 30px 0;
}
.play:hover {
  cursor: pointer;
}
.slide {
  height: 35vw;
  min-height: 190px;
  background: #ddd;
  position: absolute;
  width: 60%;
  border-radius: 1.4rem;
  transition: left .4s, opacity .2s;
  padding: 7% 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left !important;
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center center;
}
.slide_title {
  font-size: 3rem;
  color: #4F4F4F;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 2px;
}
.slide_title:nth-child(2) {
  margin: 2% 0;
}
.slide_subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #4F4F4F;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.2rem 0;
  text-align: left;
}
.slide:nth-child(1) {
  background: url('../images/LampBG.png') #eff0f2;
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center center;
}
.slide:nth-child(1) .slide_title:nth-child(1) {
  font-size: 5rem;
}
.slide:nth-child(1) .title_light {
  padding: 1% 2%;
}
.slide:nth-child(2) {
  background: url('../images/slide_2.png') no-repeat;
  background-size: 105% 105%;
  background-position: center center;
  align-items: center;
  justify-content: space-between;
}
.slide:nth-child(2) .title {
  font-size: 2.1rem;
  margin: 0;
}
.slide:nth-child(2) .title span {
  padding: 0 1%;
}
.slide:nth-child(2) .subtitle {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
}
.slide:nth-child(3) {
  background: url('../images/slide_3.png');
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center center;
}
.slide_active {
  left: 20%;
  z-index: 1;
  opacity: 1 !important;
  box-shadow: -5px 5px 30px 2px #c2c2c2;
}
.slide_noactiveL {
  left: -42%;
  z-index: 1;
  opacity: .4;
}
.slide_noactiveR {
  left: 82%;
  z-index: 1;
  opacity: .4;
}
.slide_next {
  position: absolute;
  left: 82%;
  width: 18%;
  height: 600px;
  z-index: 5;
}
.slide_next:hover {
  cursor: pointer;
}
.slide_prev {
  position: absolute;
  left: 0%;
  width: 18%;
  height: 600px;
  z-index: 5;
}
.slide_prev:hover {
  cursor: pointer;
}
.youtube {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.advantages {
  background: url('../images/advantages.png');
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
}
.advantages_strong {
  font-weight: 800;
}
.advantages .title {
  margin-bottom: 5%;
}
.advantages_block {
  height: calc(100px + 25vw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages_block_body {
  width: 60%;
  height: 65%;
  background: #94F7F3;
  border-radius: 3rem;
  box-sizing: border-box;
  padding: 2% 4%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advantages_block_body .title {
  font-size: 1.7rem;
  text-align: left;
  text-shadow: none;
  margin-bottom: 10px;
}
.advantages_block_body .subtitle {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 400;
  color: #4F4F4F;
  margin-top: 0;
}
.advantages_block_body:nth-child(2) {
  padding-right: 4%;
  padding-left: 12%;
  background: #69E5DF;
}
.advantages_block_head {
  width: 45%;
  margin-left: -8%;
  border-radius: 100%;
  box-sizing: border-box;
  position: relative;
}
.advantages_block_head:nth-child(2) img {
  width: 122%;
  position: absolute;
  left: 54%;
  top: 49%;
  transform: translate(-50%, -50%);
}
.advantages_block_head:nth-child(1) {
  margin-right: -8%;
  border-color: #7DE9E5 !important;
}
.advantages_block_head:nth-child(1) img {
  width: 150%;
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%);
}
.advantages_add {
  background: #69E5DF;
  width: 52%;
  height: calc((120px + 25vw) * 0.6);
  align-self: flex-end;
  margin-right: 5%;
  border-radius: 3rem;
  margin-top: -5%;
  margin-bottom: 10%;
  box-sizing: border-box;
  padding: 3% 3%;
  display: flex;
  align-items: center;
}
.advantages_add .subtitle {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 400;
  color: #4F4F4F;
  margin-top: 0;
}
@media (min-width: 2200px) {
  html {
    font-size: 24px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 10px;
  }
  .main {
    padding-bottom: 15%;
  }
  .phone {
    font-size: 2.5mprem;
  }
  .play {
    width: 4.5rem;
    margin: 20px 0;
  }
}
@media (max-width: 790px) {
  html {
    font-size: 9px;
  }
  .main_content_info {
    width: 60%;
  }
  .main_button {
    margin-top: 0;
  }
  .line {
    height: 4px;
  }
  .slide {
    padding: 7% 3.5%;
  }
  .slide:nth-child(1) .title_light {
    padding: 0% 2%;
  }
  .slide_title {
    font-size: 2.6rem;
  }
  .slider_nav_button {
    min-width: 0px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
}
@media (max-width: 650px) {
  html {
    font-size: 9px;
  }
  .main {
    background: url('../images/mainBGM.png') no-repeat;
    background-size: 100% 102%;
  }
  .main_content {
    margin: 70px 0;
  }
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .slide {
    padding: 20px 10px;
    height: 45vw;
    width: 70%;
  }
  .slide_active {
    left: 15%;
  }
  .slide_noactiveL {
    left: -60%;
  }
  .slide_noactiveR {
    left: 90%;
  }
  .slide:nth-child(2) {
    padding: 20px 0;
  }
  .slide_title {
    margin: 1% 0 !important;
  }
  .slide_subtitle {
    margin: 0;
  }
  .slider_block {
    height: 45vw;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
  .main {
    background-size: 140% 100%;
    padding-bottom: 5%;
  }
  .main_content {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .main_content_info {
    text-align: center !important;
    width: 80%;
  }
  .main_content_info .title,
  .main_content_info .subtitle {
    text-align: center;
  }
  .main_content img {
    margin: 0;
  }
  .lamp {
    width: 80%;
  }
  .slide {
    background-size: 110% 105% !important;
    padding: 2% 3%;
  }
  .slide_title {
    letter-spacing: 0px;
  }
  .slide:nth-child(1) {
    background-position: -50px 0;
  }
  .slide:nth-child(2) {
    background-size: 120% 105%;
    padding: 20px 0;
  }
  .slide:nth-child(2) .title {
    font-size: 1.6rem;
  }
  .slide:nth-child(2) .subtitle {
    font-size: 1.2rem;
  }
  .slide:nth-child(3) .slide_title {
    font-size: 2.3rem;
  }
  .play {
    width: 4rem;
    margin: 10px 0;
  }
}
@media (max-width: 375px) {
  .slide {
    background-size: 125% 105% !important;
  }
  .slide:nth-child(1) {
    background-position: -70px 0;
  }
  .main {
    background-size: 160% 100%;
  }
  .slide_title {
    font-size: 2.2rem;
  }
}
