@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.eot');
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Black.woff2') format('woff2'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype'), url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.eot');
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
button:focus {
  outline: none;
}
button {
  cursor: pointer;
  transition: .3s transform;
}
button:hover {
  transform: scale(1.1);
}
a,
a:hover {
  text-decoration: none;
}
.phone {
  font-size: 2rem;
  color: #505050;
  font-weight: 600;
  transition: .2s color;
}
.phone:hover {
  color: #38CBC3;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden !important;
  font-family: 'Montserrat';
}
.container {
  padding-left: 15%;
  padding-right: 15%;
}
.title {
  font-size: 4rem;
  color: #4F4F4F;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
  text-align: center;
  width: 100%;
}
.title_light {
  background: #B2F2EE;
  margin-right: -2%;
  padding: 0 2%;
  border-radius: 1rem;
}
.title_light_white {
  background: #fff;
  margin-right: -2%;
  padding: 0 1%;
  border-radius: 1rem;
}
.subtitle {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4;
  margin: 1.2rem 0;
  text-align: center;
}
.lamp {
  width: 50%;
}
.main {
  background: url('../images/mainBG.png');
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_content img {
  margin-left: -7vw;
}
.main_content_info {
  text-align: right !important;
  width: 50%;
}
.main_content_info .title,
.main_content_info .subtitle {
  text-align: right;
}
.main_button {
  width: 25rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0);
  border: 0.25rem solid #4F4F4F;
  border-radius: 1.2rem;
  margin-top: 30px;
  color: #4F4F4F;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#more {
  color: #4F4F4F !important;
  outline: none;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 8rem;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
.slider .subtitle {
  color: #505050;
  font-weight: 300;
  margin-top: 60px;
}
.slider_block {
  display: flex;
  width: 100vw;
  height: 35vw;
  margin: 50px 0;
  position: relative;
  min-height: 160px;
}
.slider_nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.slider_nav_button {
  margin: 0 20px;
  width: 5%;
  min-width: 48px;
  height: 10px;
  border-radius: 5px;
  background: #E3E3E3;
  transition: background .3s;
}
.slider_nav_button:hover {
  cursor: pointer;
}
.slider_nav_button_active {
  background: #4F4F4F !important;
}
.play {
  width: 6rem;
  margin: 30px 0;
}
.play:hover {
  cursor: pointer;
}
.slide {
  height: 35vw;
  min-height: 190px;
  background: #ddd;
  position: absolute;
  width: 60%;
  border-radius: 1.4rem;
  transition: left .4s, opacity .2s;
  padding: 7% 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left !important;
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center center;
}
.slide_title {
  font-size: 3rem;
  color: #4F4F4F;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 2px;
}
.slide_title:nth-child(2) {
  margin: 2% 0;
}
.slide_subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #4F4F4F;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.2rem 0;
  text-align: left;
}
.slide:nth-child(1) {
  background: url('../images/LampBG.png') #eff0f2;
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center center;
}
.slide:nth-child(1) .slide_title:nth-child(1) {
  font-size: 5rem;
}
.slide:nth-child(1) .title_light {
  padding: 1% 2%;
}
.slide:nth-child(2) {
  background: url('../images/slide_2.png') no-repeat;
  background-size: 105% 105%;
  background-position: center center;
  align-items: center;
  justify-content: space-between;
}
.slide:nth-child(2) .title {
  font-size: 2.1rem;
  margin: 0;
}
.slide:nth-child(2) .title span {
  padding: 0 1%;
}
.slide:nth-child(2) .subtitle {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
}
.slide:nth-child(3) {
  background: url('../images/slide_3.png');
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center center;
}
.slide_active {
  left: 20%;
  z-index: 1;
  opacity: 1 !important;
  box-shadow: -5px 5px 30px 2px #c2c2c2;
}
.slide_noactiveL {
  left: -42%;
  z-index: 1;
  opacity: .4;
}
.slide_noactiveR {
  left: 82%;
  z-index: 1;
  opacity: .4;
}
.slide_next {
  position: absolute;
  left: 82%;
  width: 18%;
  height: 600px;
  z-index: 5;
}
.slide_next:hover {
  cursor: pointer;
}
.slide_prev {
  position: absolute;
  left: 0%;
  width: 18%;
  height: 600px;
  z-index: 5;
}
.slide_prev:hover {
  cursor: pointer;
}
.youtube {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.advantages {
  background: url('../images/advantages.png');
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
}
.advantages_strong {
  font-weight: 800;
}
.advantages .title {
  margin-bottom: 5%;
}
.advantages_block {
  height: calc(100px + 25vw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages_block_body {
  width: 60%;
  height: 65%;
  background: #94F7F3;
  border-radius: 3rem;
  box-sizing: border-box;
  padding: 2% 4%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advantages_block_body .title {
  font-size: 1.7rem;
  text-align: left;
  text-shadow: none;
  margin-bottom: 10px;
}
.advantages_block_body .subtitle {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 400;
  color: #4F4F4F;
  margin-top: 0;
}
.advantages_block_body:nth-child(2) {
  padding-right: 4%;
  padding-left: 12%;
  background: #69E5DF;
}
.advantages_block_head {
  width: 45%;
  margin-left: -8%;
  border-radius: 100%;
  box-sizing: border-box;
  position: relative;
}
.advantages_block_head:nth-child(2) img {
  width: 122%;
  position: absolute;
  left: 54%;
  top: 49%;
  transform: translate(-50%, -50%);
}
.advantages_block_head:nth-child(1) {
  margin-right: -8%;
  border-color: #7DE9E5 !important;
}
.advantages_block_head:nth-child(1) img {
  width: 150%;
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%);
}
.advantages_add {
  background: #69E5DF;
  width: 52%;
  height: calc((120px + 25vw) * 0.6);
  align-self: flex-end;
  margin-right: 5%;
  border-radius: 3rem;
  margin-top: -5%;
  margin-bottom: 10%;
  box-sizing: border-box;
  padding: 3% 3%;
  display: flex;
  align-items: center;
}
.advantages_add .subtitle {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 400;
  color: #4F4F4F;
  margin-top: 0;
}
#advantages_img {
  width: 100%;
  position: absolute;
  left: 42.2%;
  top: 61.1%;
  transform: translate(-50%, -50%) rotate(14deg);
}
.kit {
  padding: 5% 0;
}
.kit_title {
  font-size: 1.8rem;
  width: auto;
  text-align: left;
  margin-bottom: 3%;
  text-shadow: none;
}
.kit_title .title_light {
  padding: 0 5%;
  margin-left: -5%;
  border-radius: .4rem;
}
.kit_subtitle {
  font-size: .8rem;
  text-transform: uppercase;
  color: #858585;
  text-align: left;
}
.kit_block {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}
.kit_card {
  width: 45%;
  height: 16.5rem;
  background: #EFF0F2;
  border-radius: 2.2rem;
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.24);
  margin: 0 2%;
  padding: 0 3%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.kit_card img {
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translateY(-50%);
  opacity: .9;
  max-height: 95%;
}
#card_1 {
  width: 40%;
}
#card_2 {
  right: 10%;
  height: 75%;
}
#card_3 {
  right: 5%;
  width: 30%;
}
#card_4 {
  right: 5%;
  width: 25%;
}
#card_5 {
  right: 5%;
  width: 45%;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
.buy {
  padding-top: 5%;
  padding-bottom: 10%;
}
.buy_block {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.buy_block img {
  width: 47%;
}
.buy_info {
  margin-left: 6%;
  width: 50%;
}
.buy_info .title {
  font-size: 2rem;
  text-align: left;
  text-shadow: none;
  letter-spacing: 3px;
}
.buy_info .subtitle {
  text-align: left;
  font-size: 1.6rem;
  color: #505050;
}
.buy_cost {
  display: flex;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 30px;
}
.buy_cost_new {
  color: #4F4F4F;
  margin-right: 5%;
}
.buy_cost_old {
  color: #D0D1D1;
  position: relative;
}
.buy_cost_old:after {
  content: '';
  display: inline-block;
  width: 110%;
  background: #D0D1D1;
  height: 4px;
  position: absolute;
  top: calc(50% - 2px);
  left: -6%;
}
.buy_button {
  width: 100%;
  height: 200%;
  min-height: 55px;
  border-radius: 1.2rem;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-image: linear-gradient(130deg, #73e9e4 0%, #31d5cf 99%);
  box-shadow: 0px 47px 41px -21px #81e2de;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  transition: transform .3s;
}
.buy_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.answers {
  padding-top: 5%;
  padding-bottom: 10%;
  margin-top: 75px;
}
.answers_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.answer {
  background: #fff;
  width: 90%;
  margin: 25px 0;
  border-radius: 2.2rem;
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 2% 5%;
  box-sizing: border-box;
  transition: height .8s;
  overflow-y: hidden;
}
.answer:hover {
  cursor: pointer;
}
.answer .title {
  font-size: 1.8rem;
  text-shadow: none;
  text-align: left;
}
.answer_hide {
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  transition: opacity 1s;
}
.answer_hide_line {
  width: 100%;
  height: 2px;
  background: #EFEFEF;
  margin: 2% 0;
}
.answer_hide_text {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #505050;
  word-spacing: 4px;
}
.title_wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
footer {
  background: url('../images/footer.png');
  background-size: 100% 100%;
  padding-top: 15vw;
  padding-bottom: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts_title {
  font-size: 3.6rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
}
.contacts_line {
  width: 1px;
  background: #fff;
  height: 100%;
  margin: 0 50px;
}
.contacts_right {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.contacts_links {
  display: flex;
}
.contacts_links img {
  margin-right: 40px;
  transition: transform .3s;
}
.contacts_links img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.contacts_button {
  width: 120%;
  height: calc(50px + 4vw);
  background: #fff;
  margin: 40px 0;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 5%;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #4F4F4F;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 800;
  transition: transform .3s;
}
.contacts_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.contact {
  color: #fff;
  font-size: 1.6rem;
  margin: 30px 0;
  text-transform: uppercase;
}
.contact_title {
  font-weight: 600;
}
.contact_text {
  font-weight: 300;
}
.send {
  width: 100vw;
  height: 150vh;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 5% 0;
  padding-bottom: calc(5% + 50vh);
  overflow: hidden;
}
.send_block {
  background: #EEF0F1;
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.24);
  width: calc(250px + 30%);
  border-radius: 3.2rem;
  box-sizing: border-box;
  padding: 4% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.send .title {
  font-size: 2.6rem;
}
.form {
  height: 100%;
  width: 100%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.form_label {
  color: #505050;
  text-transform: uppercase;
  font-weight: 600;
  filter: blur(0.4px);
  margin-bottom: 2%;
  text-align: center;
}
.form_input {
  height: 50px;
  width: 80%;
  border-radius: 1.2rem;
  border: 1px solid #505050;
  margin-bottom: 8%;
  padding: 5px 20px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-size: 1.4rem;
  background: #EEF0F1;
  color: #505050;
}
.form_input:focus {
  outline: none;
}
.form_button {
  width: 50%;
  transition: transform .3s;
  height: 80px;
  border-radius: 1rem;
  border: none;
  background: linear-gradient(130deg, #7ed4ce 0%, #9fe8e3 99%);
  box-shadow: 0px 8px 13px 0px rgba(126, 212, 206, 0.6);
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 2%;
}
.form_button:hover {
  transform: scale(1.1);
}
.form_button:focus {
  outline: none;
}
.close {
  position: absolute;
  right: -5%;
  top: -5%;
  width: 30px;
  height: 30px;
  opacity: .6;
}
.close:hover {
  cursor: pointer;
  opacity: 1;
}
.close_line {
  background: #28FFF6;
  height: 4px;
  width: 40px;
  position: absolute;
  left: -5px;
  top: 13px;
}
#line_1 {
  transform: rotate(45deg);
}
#line_2 {
  transform: rotate(-45deg);
}
.copy {
  background: #242424;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 300;
}
.copy span:nth-child(1) {
  font-weight: 600;
  font-size: 1.8rem;
}
.copy a {
  color: #fff;
}
@media (min-width: 2200px) {
  html {
    font-size: 24px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 12px;
  }
  .advantages_block_body {
    padding-right: 10%;
  }
  .advantages_block_body .subtitle br {
    content: '';
  }
  .advantages_block {
    height: calc(150px + 25vw);
  }
  .advantages_block_body {
    width: 60%;
  }
  .advantages_add br {
    content: '';
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 11px;
  }
  .main {
    padding-bottom: 15%;
  }
  .phone {
    font-size: 2.5mprem;
  }
  .play {
    width: 4.5rem;
    margin: 20px 0;
  }
  .kit_card {
    height: 15rem;
  }
  .buy_info .title {
    letter-spacing: 0 !important;
  }
  .contacts_line {
    margin: 0 30px;
  }
}
@media (max-width: 790px) {
  html {
    font-size: 9px;
  }
  .main_content_info {
    width: 60%;
  }
  .main_button {
    margin-top: 0;
  }
  .line {
    height: 4px;
  }
  .slide {
    padding: 7% 3.5%;
  }
  .slide:nth-child(1) .title_light {
    padding: 0% 2%;
  }
  .slide_title {
    font-size: 2.6rem;
  }
  .slider_nav_button {
    min-width: 0px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .buy {
    padding-left: 2%;
    padding-right: 2%;
  }
  .buy_button {
    width: 80%;
  }
  .send_block {
    width: 80%;
  }
  .send {
    align-items: center;
  }
}
@media (max-width: 650px) {
  html {
    font-size: 9px;
  }
  .main {
    background: url('../images/mainBGM.png') no-repeat;
    background-size: 100% 102%;
  }
  .main_content {
    margin: 70px 0;
  }
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .slide {
    padding: 20px 10px;
    height: 45vw;
    width: 70%;
  }
  .slide_active {
    left: 15%;
  }
  .slide_noactiveL {
    left: -60%;
  }
  .slide_noactiveR {
    left: 90%;
  }
  .slide:nth-child(2) {
    padding: 20px 0;
  }
  .slide_title {
    margin: 1% 0 !important;
  }
  .slide_subtitle {
    margin: 0;
  }
  .slider_block {
    height: 45vw;
  }
  .advantages_block {
    height: calc(220px + 20vw);
  }
  .row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .kit_card {
    margin: 2% 0;
    width: 90%;
    height: 22rem;
    padding: 0 5%;
  }
  .kit_title {
    font-size: 2.5rem;
  }
  .kit_subtitle {
    font-size: 1.2rem;
  }
  #card_1 {
    width: 40%;
  }
  #card_2 {
    right: 15%;
  }
  #card_3 {
    right: 5%;
  }
  #card_4 {
    right: 7%;
  }
  #card_5 {
    right: 0%;
  }
  .buy_button {
    width: 80%;
    margin-left: 10%;
  }
  .buy_block {
    flex-direction: column;
  }
  .buy_block img {
    width: 80%;
  }
  .buy_info {
    width: 80%;
    padding: 0;
  }
  .buy_info .title br {
    content: '';
  }
  .buy_info .title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .buy_info .subtitle {
    text-align: center;
    font-size: 2rem;
  }
  .buy_info .subtitle br {
    content: '';
  }
  .buy_cost {
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }
  footer {
    padding-right: 3%;
    padding-left: 3%;
  }
  .contacts_button {
    width: 100%;
    margin: 20px 0;
  }
  .contacts_links img {
    height: 50px;
  }
  .contact {
    margin: 15px 0;
  }
  .form_label br {
    content: '' !important;
  }
  .form_button {
    width: 80%;
  }
  #dop {
    font-size: 1.5rem;
  }
  .form_input {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
  .main {
    background-size: 140% 100%;
    padding-bottom: 5%;
  }
  .main_content {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .main_content_info {
    text-align: center !important;
    width: 80%;
  }
  .main_content_info .title,
  .main_content_info .subtitle {
    text-align: center;
  }
  .main_content img {
    margin: 0;
  }
  .lamp {
    width: 80%;
  }
  .slide {
    background-size: 110% 105% !important;
    padding: 2% 3%;
  }
  .slide_title {
    letter-spacing: 0px;
  }
  .slide:nth-child(1) {
    background-position: -50px 0;
  }
  .slide:nth-child(2) {
    background-size: 120% 105%;
    padding: 20px 0;
  }
  .slide:nth-child(2) .title {
    font-size: 1.6rem;
  }
  .slide:nth-child(2) .subtitle {
    font-size: 1.2rem;
  }
  .slide:nth-child(3) .slide_title {
    font-size: 2.3rem;
  }
  .play {
    width: 4rem;
    margin: 10px 0;
  }
  .buy_button {
    width: 100%;
    margin-left: 0;
  }
  footer {
    flex-direction: column;
    padding-top: 40%;
  }
  .contacts_line {
    height: 1px;
    width: 100%;
  }
  .contacts_title {
    text-align: center;
  }
  .contacts_right {
    align-items: center;
  }
  .contacts_links {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .contacts_links img {
    margin: 0;
  }
  .contact {
    text-align: center;
  }
  .contact br {
    content: '';
  }
}
@media (max-width: 425px) {
  .advantages_block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .advantages_block .subtitle {
    font-size: 1.2rem;
  }
  .advantages_block:nth-child(2) {
    flex-direction: column-reverse;
  }
  .advantages_block:nth-child(4) {
    flex-direction: column-reverse;
  }
  .advantages_block_body {
    width: 95%;
    padding: 5% 10%;
    margin: 25px 0;
    height: auto;
  }
  .advantages_block_head {
    width: 65%;
  }
  #advantages_err {
    flex-direction: column-reverse;
  }
  .advantages_add {
    height: auto;
    width: 70%;
    padding: 4% 8%;
  }
  .advantages_add .subtitle {
    font-size: 1.2rem;
  }
  .kit_card {
    width: 100%;
  }
  .buy_info .title {
    width: 120%;
    margin-left: -10%;
  }
  .answer {
    padding: 15px 5%;
    font-size: 1rem;
  }
  .send_block .title {
    margin-bottom: 10%;
  }
  .form_input {
    margin-bottom: 15%;
  }
  .close {
    top: -15%;
    left: 50%;
    transform: translate(-50%);
  }
  .answers_block {
    margin-top: 50px;
  }
}
@media (max-width: 375px) {
  .slide {
    background-size: 125% 105% !important;
  }
  .slide:nth-child(1) {
    background-position: -70px 0;
  }
  .main {
    background-size: 160% 100%;
  }
  .slide_title {
    font-size: 2.2rem;
  }
}
